
.form{
display: block;
width: 330px;
min-height:400px;
padding: 30px 20px 10px 20px;
background: #f3f3f3;
box-shadow: 2px 2px 3px 0.8px rgba(0,0,0,.2);
margin: 0 auto;
margin-top:50px;
border-radius: 10px;
}

label.hora {

    display: inline-block;
    width: 50px;
}

.form-input {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.form-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.form-button {
    color: #fff;
    cursor: pointer;
    background: #af1414;
    padding: 12px;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 1.5px 2px 1.5px 1px rgba(0, 0, 0, 0.2);
  }

  .form-text-input {
      border: none;
      border-bottom: 1px solid;
      background: none;
      width: 170px;
  }
  
  .form-fieldset {
      width: 100%;
  }